.caixa-cinza {
    background-color: #ccc;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.caixa-direction {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    position: relative;
}

.numero {
    font-size: 150%;
    color: rgb(250, 192, 0);
    font-weight: bold;
}

.circulo {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(189, 186, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}